<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="jquery-1.11.3.min.js"></script>
  <title> CONVERSIONS </title>
</head>

{% block content %}
<body>
<table class="maintable">
            	<tr style="line-height:50px;">
       				 <form id="mainform" method="post" action="">
       				 	<input type="text" value="" name="quantity">
 						 <input type="submit" value="Submit" 
 						 method="post">
					
                   
                    <td>
                    	<select id="categories">
                            <option values="">--Select--</option>
                            <option> Temperature</option>
                            <option> Distance</option>
                            <option> Volume</option>
                            
                        </select>
                    </td>
                </tr>
                <tr style="line-height:20px;">
                	<td>to</td>
                  
                    <td>
                    	<select style="float:left;" id="subcats" name="wanted">
                        </select>
                        </form>
                    </td>
    </tr>
</table>

<script type="text/javascript">
			 var Auto = [
				{display: "Farenheit to Celsius", value: "FtoC" },
				{display: "Farenheit to Kelvin", value: "FtoK" },
				{display: "Celsius to Farenheit", value: "CtoF" },
				{display: "Celsius to Kelvin", value: "CtoK" },
				{display: "Kelvin to Celsius", value: "KtoC" },
				{display: "Kelvin to Farenheit", value: "KtoF" }
				];
			var Distance = [
				{display: "Miles to Kilometers", value: "MtoK"},
				{display: "Kilometers to Miles", value: "KtoM"},
				{display: "Inches to Feet", value: "ItoF"},
				{display: "Feet to Inches", value: "FtoI"},
				{display: "Feet to Miles", value: "FtoM"},
				{display: "Miles to Feet", value: "MtoF"}
				];
			var Volume = [
				{display: "Milliliters to Liters", value: "MLtoL"},
				{display: "Liters to Gallons", value: "LtoG"},
				{display: "Pints to Gallons", value: "PtoG"},
				{display: "Pints to Quarts", value: "PtoQ"},
				{display: "Quarts to Gallons", value: "QtoG"},
				];
   
	

$("#categories").change(function() {
   					 var parent = $(this).val();
						switch(parent){
							case 'Temperature':
								 list(Auto);
								break;
							case 'Distance':
								 list(Distance);
								break;
							case 'Volume':
								list(Volume);
								break;             
							default: //default child option is blank
								$("#subcats").html('');  
								break;
							   }
				});
				function list(array_list)
				{
					$("#subcats").html(""); //reset child options
					$(array_list).each(function (i) { //populate child options
					$("#subcats").append("<option value=\""+array_list[i].value+"\">"+array_list[i].display+"</option>");
					});
				}
</script>

</body>
{% endblock %}
</html>
